/* Sets fonts */
* {
    font-family: 'Quicksand', sans-serif;
}

/* Map Size */
#map {
    height: 600px;
    width: 100%;
}

.mapboxgl-marker {
  background-image: none;
  background-size: cover;
  width: 20px;
  height: 20px;
  cursor: pointer;
}




