/* Sets fonts */
* {
	font-family: 'Quicksand', sans-serif;
}

.navbar {
	min-height: 10vh;
}
/* Map Size */
#map {
	height: 70vh;
	width: 100%;
}
.controller {
	min-height: 20vh;
	background-color: rgb(49, 54, 58);
	padding: 1rem;
}
.controller {
	color: #eee;
}

.controller .features {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 6rem;
}

.featureGroup {
	display: flex;
	justify-content: space-between;
	align-content: flex-end;
}

.mapboxgl-marker {
	background-image: none;
	background-size: cover;
	width: 20px;
	height: 20px;
	cursor: pointer;
}
