/* Sets fonts */
* {
    font-family: 'Quicksand', sans-serif;
}

/* Map Size */
#map {
    height: 600px;
    width: 100%;
}

.marker {
  /* background-image: url('../img/cat.jpg'); */
  background-size: cover;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  background-color: lightsalmon;
}




